<h1>Oups, on dirait que des souris ont grignoté les câbles !</h1>

<br />

<h4>N'hésitez pas à prendre contact avec <strong>l'administrateur du site</strong></h4>

<!-- Modal button -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Prendre contact avec l'administrateur du site <i class="fa-solid fa-screwdriver-wrench"></i></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact<i class="fa-solid fa-screwdriver-wrench"></i></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Faux formulaire
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
